#skips
*.png
*.jpg
*.toc
*.txt
*.cpython-310.pyc
*.pyc
*.txt_pre-process
*.txt_post-process
*.html
*.txts
*.zip
*.rar
*.pt 
*.onnx
*.pkg
*.pyz
*.csv
*.exe
library/_pycache_/*.*
/.vs
/config/__pycache__
/src/laser
/src/laser/TranferData
/src/laser/TranferData/bin
src/laser/TranferData/bin/Debug/net8.0/TranferData.dll
